*{
margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
/* .head{
    width: 100%;
    height: 50px;
    background-color: #ccc;
} */
.clear::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

ul li {
    list-style: none;
}

.head_LR {
    width: 100%;
    height: 35px;
    background-color: black;
}

.head_LR>.area {
    width: 1190px;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
}

.head_LR>.area>.ul {
    width: 100%;
    height: 100%;
}

.head_LR>.area>.ul>.li1 {
    /* padding: 0 5px; */
    float: left;
    color: white;
    line-height: 35px;
    font-size: 14px;
    width: 190px;
    height: 100%;
    /* background-color: blue; */
}

.head_LR>.area>.ul>.li1>.li1-box {
    width: 190px;
    height: 430px;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    z-index: 10;
    position: relative;
}

.head_LR>.area>.ul>.li1:hover .li1-box {
    display: block;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li {
    width: 100%;
    height: 30px;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li>.box {
    width: 1000px;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    left: 190px;
    top: 0;
    z-index: 100;
    display: none;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li>.p1 {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-left: 20px;
    line-height: 30px;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li>.p2 {
    float: left;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    line-height: 30px;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li>.p2>a {
    color: white;
    text-decoration: none;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li:hover {
    background-color: rgba(231, 234, 237, 0.5)
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li:hover .box {
    display: block;
}

.head_LR>.area>.ul>.li1>.li1-box>ul>li>.p2>a:hover {
    text-decoration: underline;
}

.icon-xiajiankuohao {
    float: right;
}

.head_LR>.area>.ul>.li2 {
    color: white;
    font-size: 14px;
    line-height: 35px;
    padding: 0 28px;
    background-color: black;
    float: left;
    transition: background-color 1s
}

.head_LR>.area>.ul>.li2>a {
    color: white;
    text-decoration: none;
}

.head_LR>.area>.ul>.li2:hover {
    background-color: red;
}
.body{
    width: 100%;
}
.body-ul{
    width: 100;
}
.body-ul>li{
    font-size: 0;
    width: 100%;
}
 .body-ul>.li1{
    width: 100%;
}
.bigimg{
    width:100%;
    height: 100%;
}
.body-ul>.li2{
    background-color: black;
}
.body-ul>.li3{
    background-color: #FFFFFF;
}
.body-ul>.li4{
    background-color:#EEEEEE;
}
.body-ul>.li5{
    background-color:white;
}
.body-li-box{
    width: 990px;
    margin:0 auto;
}
/* .box1 {
    font-size: 0;
}
.box2{
    font-size: 0;
}
.box3{
    font-size: 0;
}
.stn-box1 {
    width: 100%;
    background-color: blue
}

.stn-box2 {
    width: 100%;
    background-color: black
}
.stn-box3 {
    width: 100%;
    background-color: #FFFFFF; 
}
.stn-box4{
    width: 100%;
    background-color: #EEEEEE; 
}
.stn-box-wrap1 {
    width: 990px;
    margin: 0 auto;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
} */