.basketlist-allnew {
    display: inline-block;
    width: 30px;
    height: 40px;
    background: url(../../images/images-dc/dc_list/basketlist-allnew.png) no-repeat;
}

.basketlist-number1 {
    display: inline-block;
    width: 28px;
    height: 38px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -94px -46px;
}

.basketlist-number1hover {
    display: inline-block;
    width: 28px;
    height: 38px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -94px -0px;
}

.basketlist-number2 {
    display: inline-block;
    width: 41px;
    height: 40px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -0px -48px;
}

.basketlist-number2hover {
    display: inline-block;
    width: 41px;
    height: 40px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -0px -0px;
}

.basketlist-number3 {
    display: inline-block;
    width: 37px;
    height: 39px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -49px -47px;
}

.basketlist-number3hover {
    display: inline-block;
    width: 37px;
    height: 39px;
    background: url("../../images/images-dc/dc_list/sprites.png") no-repeat -49px -0px;
}